@import '../../assets/css/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  max-width: 18rem;
  height: calc(100vh - 99px);
  background-color: $gray-500;
  @include space-margin(0, $space-s, 0, 0);
  border-right: 1px solid $gray-600;

  .card-fill {
    border: none !important;
    border-bottom: 1px solid $gray-600 !important;
  }

  .sidebar-title {
    @include type-title(left, normal, $black);
    @include space-margin($space-s, 0,  $space-s, $space-s);
  }

  .scrollable-filters {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar-footer {
    display: flex;
    flex-direction: row;
    @include space-margin(auto, 0, 0, 0);
    @include space-padding($space-s, $space-s, $space-s, $space-s);
    border-top: 1px solid $gray-600 !important;

    .sidebar-reset-button {
      color: $petrol;
      background-color: $gray-500;
      border: none;
      @include space-padding($space-xs, 0, $space-xs, 0);
      &:hover {
        color: $cyan;
      }
    }

    .sidebar-apply-button {
      color: $white;
      background-color: $petrol;
      border: none;
      @include space-padding($space-xs, 0, $space-xs, 0);
      @include hover-button;
    }
  }
}