@import '../../assets/css/variables';

.table-container {
  overflow: auto;
  overflow-wrap: break-word;
  white-space: nowrap;
  height: calc(100vh - 326px) !important; // 179px is the height of action-bar and the pagination-footer
  border-bottom: 1px solid $gray-500 !important;
  border-left: 1px solid $gray-500 !important;
  @include space-margin($space-s, $space-xs, $space-xs, $space-xs);

  .selection-input-4 {
    margin: 0 !important;
  }

  .table-row-style {
    @include type-body(left, normal, $black);
    @include hover-state
  }

  table {
    border-collapse: separate !important;
    border-spacing: 0;

    th {
      position: sticky;
      top: 0;
      z-index: 1;
      border-top: 1px solid $gray-500 !important;
      border-bottom: 1px solid $black !important;
      background-color: $white;
    }

    td {
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: middle;
      line-height: 0;

      div {
        div {
          a {
            padding-top: initial;
            padding-bottom: initial;
            vertical-align: auto;
            line-height: initial;
          }
        }
      }
    }
  }

  .react-bootstrap-table table {
    table-layout: auto !important;

    .table-name-column {
      max-width: 30rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .table-disabled-row {
      color: $gray-500;
    }

    #table-link-column-tooltip {
      width: 30rem;
      max-width: 30rem;
    }

    .table-status-column {
      text-transform: capitalize;
    }

    @media screen and (max-width: 1440px) {
      .table-name-column {
        max-width: 20rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.pagination-footer {
  display: flex;
  align-items: baseline;
  @include space-margin($space-m, 0, $space-m, 0);

  .sizePerPage-list {
    @include space-margin(0, $space-s, 0, $space-xs)
  }

  .react-bootstrap-table-pagination-total {
    @include space-margin(0, $space-s, 0, $space-s)
  }

  .pagination-bar {
    @include space-margin(0, $space-s, 0, 0);
    margin-left: auto !important;
  }

  .sizePerPage-button-selected {
    @include space-padding($space-xs, $space-s, $space-xs, $space-s);
    @include hover-button;
    color: $white;
    background-color: $petrol;
  }

  .sizePerPage-button-unselected {
    @include space-padding($space-xs, $space-s, $space-xs, $space-s);
    @include hover-button;
    color: $petrol;
    background-color: $gray-300;
    border: none;
  }
}

.error-message-container {
  position: absolute;
  top: 50%;
  left: 50%;

  .icon-search {
    font-size: $space-m;
  }
}