@import '../../assets/css/variables';

#navbar-brand-box {
  display: flex;
  align-items: center;
}

.navbar-brand-title {
  @include type-brand(bold, $black)
}

.navbar-brand-version {
  @include type-small(right, normal, $gray-900)
}

.navbar-main-item-icon {
  margin-right: 4px;
}

.navbar-badge {
  background-color: $orange;
  @include space-margin(0, 0, 0, $space-xxs);
  @include space-padding($space-xxs, $space-xxs, $space-xxs, $space-xxs);
  @include type-small(left, normal, $white);
  font-size: 60% !important;
  position: relative;
  bottom: 2px;
}