@import './../../../assets/css/variables';

.reporting-field-card{
  background-color: $gray-500 !important;
  border: 1px solid $black !important;
  @include space-margin(0, $space-s, $space-s, 0);
}
