@import '../../../../assets/css/variables';

.system-run-information-section {
  background-color: $gray-500 !important;
  border: 1px solid $black !important;

  .system-run-information-section-label {
    @include space-padding($space-s, $space-s, $space-s, $space-s);
  }

  .information-row {
    @include space-padding(0, $space-s, 0, $space-s);
    display: flex;

    .fifty-percent-card {
      flex: 50%;
    }

    .hundred-percent-card {
      flex: 100%;
    }
  }
}