@import '../../assets/css/variables';

.file-information-section {
  height: 100%;
  overflow-y: auto;
  background-color: $gray-500 !important;
  @include type-body(left, normal, $black);
  @include space-padding(0, $space-xs, $space-xs, $space-xs);

  .file-information-section-label {
    @include space-padding($space-s, $space-s, $space-s, $space-s);
  }

  .information-row {
    display: flex;

    .thirty-percent-card {
      flex: 30%;
    }

    .fifty-percent-card {
      flex: 50%;
    }

    .seventy-percent-card {
      flex: 70%;
    }
  }
}