@import '../../../assets/css/variables';

.collapse-accordion-container {
  height: auto !important;

  .collapse-header-set {
    background-color: $white !important;
  }

  .collapse-header-unset {
    background-color: $gray-300 !important;
  }

  .collapse-header-body {
    background-color: $gray-500 !important;
  }

  .collapse-header-extend {
    border-bottom: none !important;
  }

  .collapse-header {
    height: 2.5rem !important;
    padding: $space-xs !important;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-600;
    align-items: center;
    @include hover-state();

    .collapse-header-title {
      @include type-body(left, normal, $gray-900);
    }

    .collapse-header-icon {
      display: flex;
      font-size: $space-m;
      color: $petrol;
      & > * {
        @include space-margin(0, 0, 0, $space-xs);
      }
    }
  }

  .collapse-body {
    background-color: $white;
    border-bottom: 1px solid $gray-600;
  }

  .collapse-body-normal {
    @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);
  }

  .collapse-body-list {
    @include space-padding(0, 0, 0, 0);
  }
}