@import '../../assets/css/variables';

.ingest-page {

  .ingest-page-content {
    display: flex;
    height: calc(100vh - 99px);

    .ingest-page-countdown {
      background-color: $petrol;
      color: $white;
      font-size: small;
    }

    .ingest-page-content-sidebar {
      min-width: 25rem;
      max-width: 25rem;
    }

    .ingest-page-content-detail {
      flex-basis: 100%;
      flex-direction: column;
      background-color: $white;
    }

    .ingest-history-title {
      display: flex;
    }

    .fifty-percent-card {
      flex: 50%;
    }

    .loading-spinner-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
