@import '../../assets/css/variables';

.error-page {
  flex: 0 0 100%;
  text-align: center;
  @include type-title(center, bold, $red);
  @include space-margin($space-m, $space-m, $space-m, $space-m);
}