@import '../../../assets/css/variables';

.ingest-list-section {
  height: calc(100% - 19px);
  overflow-y: auto;
  background-color: $gray-500 !important;
  @include type-body(left, normal, $black);

  .progress-bar-wrapper {
    border: 1px solid $black !important;
  }

  .loading-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ingest-item-title {
    display: flex;
  }

  .text-right {
    text-align: right;
  }

  .fifty-percent-card {
    flex: 50%;
  }
}
