@import '../../../assets/css/variables';

.ingest-card {
  background-color: $gray-500 !important;
  border: 1px solid $black !important;

  .ingest-card-body {
    background-color: $gray-500 !important;

    .fifty-percent-card {
      flex: 50%;
    }

    .hundred-percent-card {
      flex: 100%;
    }

    .thirty-percent-card {
      flex: 30%;
    }

    .seventy-percent-card {
      flex: 70%;
    }
  }
}

.progress-bar-wrapper {
  border: 1px solid $black !important;
}