@import '../../../assets/css/variables';

.ingest-support-card {
  text-align: right;
  @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);

  a {
    color: $petrol;
    @include hover-state();
  }
}

.main-item-icon {
  margin-right: 4px;
}
