@import '../../../../assets/css/variables';

.file-list-item-container {
  @include space-padding(0, 0, 0, 0);

  .file-list-item {
    @include space-padding($space-xxs, $space-xs, $space-xxs, $space-xs);

    input {
      margin-bottom: 4px;
      vertical-align: baseline;
    }

    label {
      overflow-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .file-list-item-hover {
    @include space-padding($space-xxs, $space-xs, $space-xxs, $space-xs);
    @include hover-state();

    input {
      margin-bottom: 4px;
      vertical-align: baseline;
      @include hover-state();
    }

    label {
      overflow-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include hover-state();
    }
  }

  .file-list-item-active {
    background-color: $petrol;
  }
}