@import '../../assets/css/variables';

.location-detail {
  overflow: auto;
  height: 100%;

  .location-card {
    background-color: $gray-500 !important;
    border: 1px solid $black !important;
  }

  .progress-bar-wrapper {
    border: 1px solid $black !important;
  }
}

.button-container {
  text-align: center;
  @include space-margin(auto, 0, 0, 0);
  .btn-info{
    @include space-margin($space-xs, $space-xs, $space-s, $space-xs);
  }
}