@import '../../../../assets/css/variables';

.drive-information-section {
  background-color: $gray-500 !important;
  border: 1px solid $black !important;

  .drive-information-section-label {
    @include space-padding($space-s, $space-s, $space-s, $space-s);
  }

  .information-row {
    @include space-padding(0, $space-s, 0, $space-s);
    display: flex;

    .thirty-percent-card {
      flex: 30%;
    }

    .fifty-percent-card {
      flex: 50%;
    }

    .seventy-percent-card {
      flex: 70%;
    }
  }
}