@import '../../assets/css/variables';

.reporting-page {
  background-color: $gray-200 !important;
  
  .reporting-page-action-bar {
    display: flex;
    align-items: center;

    @include space-margin(0, $space-s, $space-s, $space-s);

    .create-report-btn {
      @include space-margin($space-xs, $space-xs, 0, $space-xs);
      @include hover-button;
    }

    .export-excel-btn {
      @include space-margin($space-xs, $space-s, 0, 0);
      @include hover-button;
    }
  }

  .reporting-page-content {
    min-height: calc(100vh - 165px);
    
    .reporting-page-tables-section {

    }

    .reporting-page-kpi-section {
      height: 100%;
      @include type-body(left, normal, $black);
    }
  }
  .loading-spinner-container {
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
  }
}








