@import './../../../assets/css/variables';

.report-dropdown-multi-wrapper {
  display: flex;
  @include space-margin($space-xs, $space-s, 0, 0);

  .report-dropdown-multi-icon{
    @include space-margin(0, $space-xs, 0, $space-xs);
  }
}
