@import '../../assets/css/variables';

.error-banner {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 1;
   min-width: 600px;
   @include space-margin(0, $space-l, $space-l, $space-l);
   @include space-padding($space-s, $space-s, $space-s, $space-s);
   display: flex;
   justify-content: space-between;

   .error-banner-message {
      @include type-body(left, regular, $white);
      @include space-margin(0, $space-xs, 0, 0);
   }

   .error-banner-close-icon {
      @include type-body(center, bold, $white);
      margin-top: 2px;
   }
}

.error-banner-primary {
   background-color: $black;
}

.error-banner-info {
   background-color: $petrol;
}

.error-banner-danger {
   background-color: $red;
}

.error-banner-warning {
   background-color: $orange;
}

.error-banner-success {
   background-color: $green;
}