@import '../../assets/css/variables';

.navigation-bar {
  display: flex;
  align-items: center;

  .navigation-back-button {
    display: flex;
    align-items: baseline;
    margin: 0;
    @include space-padding($space-xs, $space-s, $space-xs, $space-s);
  }

  .navigation-breadcrumb {

    .breadcrumb {
      width: auto;
      background-color: $gray-200;
      margin: 0;
      @include space-padding($space-s, $space-s, $space-s, $space-s);
      @include space-margin(0, $space-m, 0, $space-m);
    }

    .breadcrumb-item, .breadcrumb-item a {
      @include type-body(left, normal, $petrol);
      text-decoration: none;
    }
    .breadcrumb-item + .breadcrumb-item::before {
      color: $gray-900;
    }
    .breadcrumb-item:last-child {
      @include type-body(left, normal, $gray-900);
    }
    .breadcrumb-item:not(:last-child):hover, .breadcrumb-item a:hover {
      @include type-body(left, normal, $cyan);
    }
  } 
}