@import './../../../../assets/css/variables';

.date-wrapper {
  display: flex;

  .from-date-wrapper {
    @include space-margin(0, $space-xs, 0, 0)
  }

  .to-date-wrapper {
    @include space-margin(0, 0, 0, $space-xs)
  }

  .date-divider {
    @include space-margin($space-xs, 0, 0, 0)
  }

  .react-datepicker-wrapper {
    .react-datepicker__input-container input {
      width: 100%;
      @include type-label(center, normal, $gray-900);
      @include space-padding($space-xs, $space-xs, $space-xs, $space-xs)
    }
  }

}



