@import '/../../../../assets/css/variables';

.status-list-item {
  text-transform: capitalize;
  @include
  hover-state;
}

.status-list-tooltip {
}

.tooltip { 
  .info-header {
    @include type-body(left, bold, $white);
  }

  .info-description {
    @include type-body(left, normal, $white);
  }

  .tooltip-inner {
    max-width: 17rem;
  }

  .status-info {
    @include space-margin(0.5rem, 0.5rem, 0.5rem, 0.5rem);
  }
}