$icomoon-font-family: "DaimlerIcons" !default;
$icomoon-font-path: "./../../assets/font/" !default;

$icon-broken-image: "\e900";
$icon-alert-diamond: "\e901";
$icon-button-refresh-arrows: "\e902";
$icon-card-view: "\e903";
$icon-copy-to-clipboard: "\e904";
$icon-floppy-disk: "\e905";
$icon-link: "\e906";
$icon-share-1: "\e907";
$icon-table-view: "\e908";
$icon-view: "\e909";
$icon-add: "\e90a";
$icon-arrow-down-1: "\e90b";
$icon-arrow-left-1: "\e90c";
$icon-arrow-right-1: "\e90d";
$icon-arrow-up-1: "\e90e";
$icon-bin-1: "\e90f";
$icon-check-1: "\e910";
$icon-close: "\e911";
$icon-common-file-empty: "\e912";
$icon-flag-1: "\e913";
$icon-hourglass: "\e914";
$icon-pencil: "\e915";
$icon-search: "\e916";
$icon-send-email: "\e917";
$icon-subtract: "\e918";
$icon-zoom-in: "\e919";
$icon-zoom-out: "\e91a";
$icon-navigation-menu-horizontal: "\e91b";
$icon-ASC: "\e91c";
$icon-DESC: "\e91d";


@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?biz58m') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-broken-image {
  &:before {
    content: $icon-broken-image;
  }
}
.icon-alert-diamond {
  &:before {
    content: $icon-alert-diamond;
  }
}
.icon-button-refresh-arrows {
  &:before {
    content: $icon-button-refresh-arrows;
  }
}
.icon-card-view {
  &:before {
    content: $icon-card-view;
  }
}
.icon-copy-to-clipboard {
  &:before {
    content: $icon-copy-to-clipboard;
  }
}
.icon-floppy-disk {
  &:before {
    content: $icon-floppy-disk;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-share-1 {
  &:before {
    content: $icon-share-1;
  }
}
.icon-table-view {
  &:before {
    content: $icon-table-view;
  }
}
.icon-view {
  &:before {
    content: $icon-view;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-arrow-down-1 {
  &:before {
    content: $icon-arrow-down-1;
  }
}
.icon-arrow-left-1 {
  &:before {
    content: $icon-arrow-left-1;
  }
}
.icon-arrow-right-1 {
  &:before {
    content: $icon-arrow-right-1;
  }
}
.icon-arrow-up-1 {
  &:before {
    content: $icon-arrow-up-1;
  }
}
.icon-bin-1 {
  &:before {
    content: $icon-bin-1;
  }
}
.icon-check-1 {
  &:before {
    content: $icon-check-1;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-common-file-empty {
  &:before {
    content: $icon-common-file-empty;
  }
}
.icon-flag-1 {
  &:before {
    content: $icon-flag-1;
  }
}
.icon-hourglass {
  &:before {
    content: $icon-hourglass;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-send-email {
  &:before {
    content: $icon-send-email;
  }
}
.icon-subtract {
  &:before {
    content: $icon-subtract;
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}
.icon-navigation-menu-horizontal {
  &:before {
    content: $icon-navigation-menu-horizontal;
  }
}
.icon-ASC {
  &:before {
    content: $icon-ASC;
  }
}
.icon-DESC {
  &:before {
    content: $icon-DESC;
  }
}
