/*
MIT License

Copyright (c) 2018 ZachTRice

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

DANF UI Theme Bootstrap 4.3.1*/

/* --- Custom Variables for Daimler UI --- */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$white:    #fff;
$gray-100: #FAFAFA;
$gray-200: #F4F4F4;
$gray-300: #F2F2F2;
$gray-400: #EDEDED;
$gray-500: #e6e6e6;
$gray-600: #c8c8c8;
$gray-700: #9e9e9e;
$gray-800: #707070;
$gray-900: #444444;
$black:    #000;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);

$petrol:  #007A93;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #ff0000;
$orange:  #e69123;
$yellow:  #ffc107;
$green:   #6ea046;
$teal:    #20c997;
$cyan:    #79aebf;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
                (
                        "petrol":     $petrol,
                        "indigo":     $indigo,
                        "purple":     $purple,
                        "pink":       $pink,
                        "red":        $red,
                        "orange":     $orange,
                        "yellow":     $yellow,
                        "green":      $green,
                        "teal":       $teal,
                        "cyan":       $cyan,
                        "white":      $white,
                        "gray":       $gray-600,
                        "gray-dark":  $gray-900
                ),
                $colors
);

$primary:       $gray-900;
$secondary:     $gray-500;
$success:       $green;
$info:          $petrol;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
                (
                        "primary":    $primary,
                        "secondary":  $secondary,
                        "success":    $success,
                        "info":       $info,
                        "warning":    $warning,
                        "danger":     $danger,
                        "light":      $light,
                        "dark":       $dark
                ),
                $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900;
$yiq-text-light:            $white;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret:                                true;
$enable-rounded:                              false;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-hover-media-query:                    false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         true;
$enable-responsive-font-sizes:                false;
$enable-validation-icons:                     false;
$enable-deprecation-messages:                 true;

// Body
//
// Settings for the `<body>` element.
$body-bg:                   $white;
$body-color:                $black;


// Links
//
// Style anchor elements.
$link-color:                              $petrol;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;


// stylelint-enable value-keyword-case
$type-brand-size: 1.5rem;   //24px
$type-title-size: 1.25rem;  //20px
$type-body-size: 1rem;      //16px
$type-label-size: 0.75rem;  //12px
$type-small-size: 0.625rem; //10px

@mixin type-brand($style,$color) {
  font-size: $type-brand-size;
  text-align: left;
  font-style: $style;
  font-weight: $style;
  color: $color;
  line-height: normal;
}
@mixin type-title($alignment,$style,$color) {
  font-size: $type-title-size;
  text-align: $alignment;
  font-style: $style;
  font-weight: $style;
  color: $color;
  line-height: normal;
}
@mixin type-body($alignment,$style,$color) {
  font-size: $type-body-size;
  text-align: $alignment;
  font-style: $style;
  font-weight: $style;
  color: $color;
  line-height: normal;
}
@mixin type-label($alignment,$style,$color) {
  font-size: $type-label-size;
  text-align: $alignment;
  font-style: $style;
  font-weight: $style;
  color: $color;
  line-height: normal;
}
@mixin type-small($alignment,$style,$color) {
  font-size: $type-small-size;
  text-align: $alignment;
  font-style: $style;
  font-weight: $style;
  color: $color;
  line-height: normal;
}

// Spaces
$space-xxs: 0.25rem;  //4px
$space-xs: 0.5rem;  //8px
$space-s: 1rem;     //16px
$space-m: 1.5rem;   //24px
$space-l: 2rem;     //32px
$space-xl: 3rem;    //48px

@mixin space-margin($top,$right,$bottom,$left){
  margin-top: $top !important;
  margin-right: $right !important;
  margin-bottom: $bottom !important;
  margin-left: $left !important;
}

@mixin space-padding($top,$right,$bottom,$left){
  padding-top: $top !important;
  padding-right: $right !important;
  padding-bottom: $bottom !important;
  padding-left: $left !important;
}

// Hover
@mixin hover-state() {
  &:hover {
    cursor: pointer;
    color: $cyan;
  }
}

@mixin hover-button() {
  &:hover {
    cursor: pointer;
    background-color: $cyan;
    color: $white;
  }
}

// Cards
$card-spacer-y:                     .75rem;
$card-spacer-x:                     1.25rem;
$card-border-width:                 $border-width;
$card-border-radius:                $border-radius;
$card-border-color:                 $gray-500;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg:                       rgba($black, .03);
$card-cap-color:                    null;
$card-color:                        null;
$card-bg:                           $white;

$card-img-overlay-padding:          1.25rem;

$card-group-margin:                 $grid-gutter-width / 2;
$card-deck-margin:                  $card-group-margin;

$card-columns-count:                3;
$card-columns-gap:                  1.25rem;
$card-columns-margin:               $card-spacer-y;

.card-fill {
  border-color:                     $gray-500 !important;
  background:                       $gray-500 !important;
}

.card-outline {
  border-color:                      $gray-500 !important;
  background:                        $white !important;
  @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);
}

.card-width-40 {
  flex-basis:                         40%;
}

.card-width-60 {
  flex-basis:                         60%;
}

.card-width-auto {
  flex:                               1;
  margin-left:                        0;
}
// Checkboxes
$custom-checkbox-indicator-border-radius:       .125rem;
//$custom-checkbox-indicator-indeterminate-bg:           $component-active-bg !default;
//$custom-checkbox-indicator-indeterminate-color:        $custom-control-indicator-checked-color !default;
$custom-checkbox-indicator-indeterminate-box-shadow:   none;

//Select
$custom-select-color:               $gray-700;
$custom-select-disabled-color:      $gray-500;
$custom-select-bg:                  $white;
$custom-select-disabled-bg:         $gray-500;
$custom-select-indicator-color:     $gray-900;
$custom-select-indicator:           str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='#{$black}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e"), "#", "%23");

$custom-select-border-width:        $input-border-width !default;
$custom-select-border-color:        $petrol;
$custom-select-border-radius:       none;
$custom-select-box-shadow:          none;

$custom-select-focus-border-color:  $cyan;
$custom-select-focus-box-shadow:    none;


//Dropwdown
$dropdown-color:                    $gray-500;
$dropdown-bg:                       $white;
$dropdown-border-color:             $gray-500;
$dropdown-border-radius:            none;
$dropdown-border-width:             $border-width;
$dropdown-divider-bg:               $gray-500;
$dropdown-box-shadow:               none;

$dropdown-link-color:               $petrol;
$dropdown-link-hover-color:         $cyan;
$dropdown-link-hover-bg:            $gray-600;

$dropdown-link-active-color:        $petrol;
$dropdown-link-active-bg:           $gray-500;

$dropdown-link-disabled-color:      $gray-600;
$dropdown-header-color:             $gray-900;

// Table
$table-bg:                          $gray-100;
$table-accent-bg:                   $white;

// Tooltip
$tooltip-max-width:                 100vh !important;

// Tab Bar
$nav-tabs-border-color:             none;
$nav-tabs-border-width:             0;
$nav-tabs-border-radius:            0;
$nav-tabs-link-active-color:        $gray-900;
$nav-tabs-link-active-bg:           $white;
.nav-tabs .nav-link {
  background: $gray-400;
  border-right: 2px solid $gray-200 !important;
}

// $navbar-light-color:                $petrol !important;

// add additional break points for wide screens
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
  xxxxl: 2000px
);

$container-max-widths: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
  xxxxl: 2000px
);


@import '~bootstrap/scss/bootstrap';

