/*
Here you can set some root design elements that define how the whole project should look like.
Also you can modify some default bootstraps styles
*/
@import './assets/css/icon-font-style';
@import './assets/css/variables';

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case

@mixin font-face($font-family, $url) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.otf') format('opentype');
  }
}

@include font-face('Daimler CS', './assets/font/DaimlerCS-Regular-web');
@include font-face('Daimler CS Bold', './assets/font/DaimlerCS-Bold-web');

body {
  font-family: 'Daimler CS', sans-serif;
}

header {
  border-bottom: 1px solid $gray-500;
}