@import '../../assets/css/variables';

.process-state-empty-container {
  height: $space-l;
  @include type-body(left, normal, $gray-900);
  @include space-margin(0, 0, 0, 0);
  @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);
}

.process-state-body-item-style {
  border: none;
}

.process-state-body-item {
  display: flex;
  position: relative;

  .process-state-icon {
    height: $space-s;
    width: $space-s;
  }

  .process-state-info {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include type-label(left, normal, $gray-900);
    @include space-margin(0, $space-xs, 0, $space-xs);
  }

  .process-state-detail {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 $space-xs;
    @include type-label(right, normal, $petrol);
    text-decoration: underline;
    @include hover-state;
  }

  .success {
    @include type-label(center, normal, $green);
  }

  .failure {
    @include type-label(center, normal, $red);
  }

  .skip {
    @include type-label(center, normal, $orange);
  }

  .pending {
    @include type-label(center, normal, $gray-600);
  }
}

.process-state-info-tooltip {
  left: 27rem !important;
}