@import '../../assets/css/variables';

.announcements-page {
  @include space-padding($space-l, $space-s, $space-s, $space-s);
  max-width: 100% !important;
  height: calc(100vh - 99px);

  .first-announcement {
    @include space-padding(0, 0, $space-s, 0);
  }

  .announcement-card {
    background: $gray-500;
    @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);

    .card-title {
      @include type-title(left, regular, $black);
    }

    .card-text {
      @include type-body(left, regular, $gray-900);
    }

    .card-date {
      @include type-body(right, regular, $gray-800);
    }
  }

  .card-columns {
    column-count: 2;
  }

}
