@import '../../../assets/css/variables';

.modal-backdrop.show {
  opacity: 0.1 !important;
}

.modal-content {
  border: 0 solid transparent !important;

  .modal-icon-close {
    height: $space-m;
    width: $space-m;
    background: $black;
    margin-top: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include type-body(center, bold, $white);
    &:hover {
      background: $gray-900;
      cursor: pointer;
    }
  }

  .modal-header {
    @include space-margin(0, $space-s, $space-m, $space-s);
    padding: 0;
    border-bottom: 1px solid transparent;
    .modal-title { 
      @include type-title(left,normal,$black);
    }
  }

  .modal-body {
    @include type-body(left,normal,$gray-800);
    @include space-margin(0, $space-s, $space-m, $space-s);
    padding: 0;
    word-wrap: break-word;
  }
}