@import '../../../assets/css/variables';

.ingest-history {
  height: 100%;
  overflow-y: auto;

  .ingest-history-title {
    display: flex;
  }

  .fifty-percent-card {
    flex: 50%;
  }

  .loading-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
