@import '../../assets/css/variables';

.home-page {
  display: flex;
  height: calc(100vh - 99px);
  overflow: hidden;

  .home-page-content {
    flex-direction: column;
    flex: 1;

    .home-page-action-bar {
      display: flex;
      align-items: baseline;

      .refresh-button {
        @include space-margin($space-s, $space-xs, $space-l, $space-xs);
        @include hover-button;
      }
    }

    .home-page-table-view{
      display: flex;
      align-items: baseline;

      .export-button{
        @include space-margin(0, $space-xs, 0, $space-xs);
      }
    }

    .results-info {
      @include space-margin(0, $space-xs, 0, $space-xs);
      @include type-body(left, bold, $black)
    }
    
    .home-page-table {
      width: calc(100vw - 20rem);
    }
  }

  .loading-spinner-container {
    position: absolute;
    top: 50%;
    left: calc(50% + 13rem);
    transform: translate(-50%, -50%);
  }
}








