@import './../../../../assets/css/variables';

.reporting-table-container{
  @include space-margin(0, 0, $space-m, 0);
}

.react-bootstrap-table table {
  table-layout: auto !important;

  .table-name-column {
    max-width: 50rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table-row-style {
    @include type-body(left, normal, $black);
  }
}
.table-caption{
  @include space-padding(0,0, $space-s, 0);
}
.reporting-table-card{
  display:flex;
  background-color: $gray-500 !important;
  border: 1px solid $black !important;
  @include space-padding(0, 0, 0, $space-s);
}

