@import '../../assets/css/variables';

.event-detail-empty-container {
  height: calc(100vh - 240px);
  background-color: $white;

  .event-detail-empty-placeholder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include type-title(center, normal, $black);
  }
}

.event-detail-component {
  display: flex;
  height: calc(100vh - 240px);
  background-color: $white;

  .event-detail-event-list {
    width: 36rem;
    margin-right: 1px;

    .event-detail-event-list-item {
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include space-padding($space-xxs, $space-xxs, $space-xxs, $space-xxs);
      @include hover-state();

      input {
        margin-bottom: 4px;
        margin-right: $space-xs;
        vertical-align: baseline;
      }
    }
  }

  .event-detail-divider {
    display:flex;
    justify-content:center;
    align-items:center;
    border-right: 1px solid $gray-500;
    border-left: 1px solid $gray-500;
    @include space-padding($space-xxs, $space-xxs, $space-xxs, $space-xxs);
  }

  .event-detail-json-container {
    width: 100%;

    .event-detail-json-ace-editor {

      .ace_gutter {
        background: $gray-100;
        @include type-label(right, normal, $gray-700);
      }

      .ace_active-line {
        background-color: $cyan;
        opacity: 0.3;
      }

      .ace-github .ace_string {
        color: #ff0000;
      }

      .ace-github .ace_constant.ace_numeric {
        color: #007A93;
      }
    }
  }
}


.event-detail-event-list-style {
  background-color: $white !important;

  .borderless-item {
    border: none !important;
  }
}

