@import '../../assets/css/variables';

.file-information-section {
  height: 100%;
  overflow-y: auto;
  background-color: $gray-500 !important;
  @include type-body(left, normal, $black);
  @include space-padding(0,$space-xs, $space-xs, $space-xs);

  .file-information-section-label {
    @include space-padding($space-s, $space-s, $space-s, $space-s);
  }

  .information-row {
    display: flex;

    .thirty-percent-card {
      flex: 30%;
    }

    .fifty-percent-card {
      flex: 50%;
    }

    .seventy-percent-card {
      flex: 70%;
    }
  }

  .childbagfile-list-item-container {
    @include space-padding(0, 0, 0, 0);

    .childbagfile-list-item {
      @include space-padding($space-xxs, $space-xs, $space-xxs, $space-xs);
      @include hover-state();

      input {
        margin-bottom: 4px;
        vertical-align: baseline;
        @include hover-state();
      }

      label {
        overflow-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include hover-state();
      }
    }

    .childbagfile-list-item-active {
      background-color: $petrol;
    }
  }
}

.childbagfile-list-tooltip {
  left: 27rem !important;
}