@import '../../assets/css/variables';
@import '~leaflet/dist/leaflet.css';

.map-detail {
  height: auto;
  overflow-y: auto;
}
.loading-spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.leaflet-container {
  height: 70.5vh;
  width: 100%;
  float:left;
}