@import '../../assets/css/variables';

.sub_div { 
    width: 99%;
    margin-left: $space-xs;

    svg .event-information:hover {
      stroke: $cyan;
    }
}

.tooltip-timestamp .tooltip-inner {
  max-width: max-content;
}
