@import '../../assets/css/variables';

.support-page {
  @include space-padding($space-l, $space-s, $space-s, $space-s);
  max-width: 100% !important;
  height: calc(100vh - 99px);

  .support-card {
    background: $gray-500;
    @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);

    a {
      color: $petrol;
      @include hover-state();

    }

    .card-title {
      @include type-title(left, normal, $black);
    }

    .card-text {
      @include type-body(left, normal, $gray-900);
    }
  }
}