@import '../../../assets/css/variables';

.pagination-bar {

   .pagination-button-selected {
      @include hover-button;
      border-color: $petrol;
      color: $white;
      background: $petrol;
   }

   .pagination-button-unselected {
      @include hover-button;
      border-color: $petrol;
      color: $petrol;
      background: $white;
   }

}