@import '../../../assets/css/variables';

.label-container {
  border: none !important;
  @include space-padding($space-s, $space-s, $space-s, $space-s);

  .label-container-header {
    display: flex;
    align-items: baseline;
    @include space-margin(0, $space-xs, 0, $space-xs);

    .label-container-header-name {
      @include type-label(left, normal, $gray-900);
      @include space-margin(0, 0, $space-xxs, 0);
    }

    .label-container-header-actions {
      margin-left: auto;

      .label-container-header-action-item {
        @include type-label(left, normal, $petrol);
        @include space-margin(0, 0, 0, $space-xs);
        @include hover-state;
      }
    }
  }

  .label-container-content {
    @include type-body(left, normal, $black);
  }
}

.card-style-outline {
  border: 1px solid $gray-500 !important;
  @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);
}

.card-style-filled {
  background-color: $gray-500 !important;
  @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);

  .label-container-content {
    background-color: $gray-200 !important;
    @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);
  }
}

.card-style-filled-padding-left-right {
  background-color: $gray-500 !important;
  @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);

  .label-container-content {
    background-color: $gray-500 !important;
    @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);
  }
}

.card-style-filled-list {
  background-color: $gray-500 !important;
  @include space-padding($space-xs, $space-xs, $space-xs, $space-xs);

  .label-container-content {
    background-color: $gray-200 !important;
  }
}