@import '../../assets/css/variables';

.overview-page {

  .overview-page-action-bar {
    display: flex;
    @include space-padding($space-s, $space-s, $space-s, $space-s);
  }

  .overview-page-content {
    display: flex;
    height: calc(100vh - 211px);

    .overview-page-content-info {
      min-width: 29rem;
      max-width: 29rem;
    }

    .overview-page-content-detail {
      flex-basis: 100%;
      flex-direction: column;

      .overview-page-content-detail-tab {
        height: calc(100vh - 250px);
        background-color: $white;

        .placeholder-element {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include type-title(center, normal, $black);
        }
      }
    }
  }

  .loading-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle-side-info{
    font-size: 1em;
  }
  .toggle-button{
    border:none;

  }

}
