@import './../../../../assets/css/variables';

.select-topic-tooltip {
  left: 17rem !important;
}

.select-topic-item {
  display: flex;
  align-items: baseline;
  @include hover-state;

  .icon-subtract {
    color: $petrol;
    transition: color .3s ease-in-out;
    @include hover-state;
  }

  .select-topic-label {
    @include space-margin(0, 0, 0, $space-xs);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.suggestion-box {
  background: white;
  @include space-margin(0, 0, $space-xs, 0);
}

.suggestion-item-list {
  background-color: $white;

  .suggestion-item {
    @include hover-state
  }

  .suggestion-item-active {
    @include hover-state;
  }
}

.label-inner-container {
  @include space-margin(0, 0, 0, 0);
  @include space-padding($space-xs, 0, 0, 0);
}

#suggestion-list-overflow-container {
  max-width: none;
  width: 1000px;
}