@import './../../../../assets/css/variables';

.file-filter {
  @include space-margin($space-s, $space-xs, $space-l, $space-xs);
  min-width: 33rem;
  max-width: 33rem;

  .file-filter-selected-button {
    width: 25%;
    background-color: $petrol;
    color: $white;
    border: none;
    @include space-padding($space-xs, $space-s, $space-xs, $space-s);
    @include hover-button;
  }

  .file-filter-unselected-button {
    width: 25%;
    background-color: $gray-500;
    color: $petrol;
    border: none;
    @include space-padding($space-xs, 0, $space-xs, 0);
    @include hover-button;
  }
}