@import '../../../assets/css/variables';

.scroll-table {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;

  .center-in-parent {
    @include space-margin($space-s, 0, $space-s, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-table-entry > * {
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  table {
    margin-bottom: 0;
  }
}



