@import '/../../../../assets/css/variables';

.track-container {

  .input-range__label--min, .input-range__label--max {
    bottom: -$type-brand-size;
    color: $gray-800;
    font-family: inherit;
  }

  .input-range__label--value {
    display: none;
  }

  .input-range__track {
    height: 2px;
    background: $gray-600
  }

  .input-range__track--active {
    background: $petrol;
  }

  .input-range__slider {
    background: $petrol;
    width: 0.5rem;
    border: 10px solid $petrol;
  }

  .input-range__slider:active {
    transform: scale(1.1);
    border: 10px solid $cyan
  }

  @include space-margin($space-xs, $space-s, $space-s, $space-xs);
}